@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "main main main main" "main main main main" "main main main main" "footer footer footer footer";
  position: relative;
  width: 100vw;
  height: 100vh; }

header img {
  margin-top: 10px; }

.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 80px;
  height: 80px; }

header {
  height: 100%;
  width: 100%;
  background-color: black;
  grid-area: header; }
  header ul a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    padding-left: 15px;
    font-family: "Encode Sans", sans-serif;
    transition: height 0.4s, width 0.3s; }
  header ul a:hover {
    border-bottom: 3px black solid;
    height: -20px;
    font-size: 21px; }

main {
  width: 100vw;
  height: 100%;
  background-color: white;
  grid-area: main;
  display: grid;
  position: relative;
  /* ESTRUCTURA DE MARCAS */
  /* TAMAÑO CAJAS DE MARCAS */
  /* TAMAÑO IMAGENES MARCAS */
  /* FUENTE DE MARCAS */ }
  main main p {
    font-weight: bolder;
    font-family: "Encode Sans", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 1%; }
  main .textomain p {
    font-size: 25px;
    text-align: center;
    font-family: "Encode Sans", sans-serif;
    font-weight: bold;
    margin-top: 12%;
    margin-bottom: 3%; }
  main .marcas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100vw;
    gap: 5px; }
  main .marcas div {
    width: 10%;
    height: 100px;
    transition: height 0.3s, width 0.3s; }
  main .marcas div:hover {
    height: 120px;
    width: 12%; }
  main .marcas img {
    width: 100%;
    height: 100%; }
  main div a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
    padding: 0px;
    font-family: "Encode Sans", sans-serif; }

h1 {
  font-weight: bolder;
  font-family: "Encode Sans", sans-serif;
  font-size: 30px;
  padding: 1%;
  padding-top: 5%;
  text-align: center; }

h2 {
  font-weight: bolder;
  font-family: "Encode Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 3%; }

.destacados div {
  width: 90%;
  height: 90%;
  border-left: 1px grey solid;
  border-top: 1px grey solid;
  border-radius: 7px;
  box-shadow: 5px 3px grey;
  align-items: center; }

div p {
  font-family: "Encode Sans", sans-serif;
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  text-align: center; }

.destacados img {
  width: 100%;
  height: 100%; }

.destacados {
  display: grid;
  grid-template-columns: 22vw 22vw 22vw 22vw;
  grid-template-rows: 22vw;
  justify-content: space-evenly; }

.navmain {
  display: grid;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw;
  grid-template-rows: 28vw;
  justify-content: center;
  margin-top: 18%;
  gap: 5px; }
  .navmain .item {
    margin-bottom: 0px; }
  .navmain .item img {
    width: 100%;
    height: 100%;
    border: 1px black solid;
    justify-items: center;
    align-items: center; }

.pie-de-pag {
  display: grid;
  grid-template-columns: 22vw 22vw 22vw 22vw;
  grid-template-rows: 22vw;
  justify-content: space-around;
  margin-top: 5%; }
  .pie-de-pag figure {
    margin-bottom: 10%; }
    .pie-de-pag figure img {
      width: 100%;
      height: 100%;
      justify-items: center;
      align-items: center; }
    .pie-de-pag figure figcaption {
      text-align: center; }

.redes {
  width: 100%;
  height: 20vh;
  padding-top: 15%; }

.redes p {
  text-align: center;
  font-size: 30px;
  font-family: "Encode Sans", sans-serif;
  font-weight: bold;
  color: black;
  margin-bottom: 0%;
  padding-bottom: 0px; }

footer {
  width: 100%;
  height: 400px;
  grid-area: footer;
  /* CAPA DE TRANSPARENCIA PARA FOOTER (GIFS CON FONDOS BLANCOS) */ }
  footer .final {
    width: 100%; }
    footer .final p {
      color: black;
      margin-top: 50px;
      text-align: center;
      justify-content: center; }
  footer .capa {
    height: 400px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.09); }
  footer .footer {
    height: 300px;
    width: 90%;
    padding-top: 0%;
    font-family: "Encode Sans", sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-areas: "ig fb tw tc" "cr cr cr cr";
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-bottom: 0px; }
    footer .footer div img {
      width: 80%;
      height: 80%;
      filter: contrast(82%);
      justify-items: center;
      align-items: center;
      margin-top: 20vh; }
    footer .footer .ig {
      grid-area: "ig"; }
    footer .footer .fb {
      grid-area: "fb"; }
    footer .footer .tw {
      grid-area: "tw"; }
      footer .footer .tw img {
        width: 50%;
        height: 50%; }
    footer .footer .twitch {
      grid-area: "tc"; }

.registro {
  width: 400px;
  background: black;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  border-radius: 4px;
  font-family: "Encode Sans", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-weight: bold; }
  .registro h4 {
    font-size: 30px;
    margin-bottom: 17px;
    text-align: center; }
  .registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px; }
  .registro a {
    color: white;
    text-decoration: none; }
  .registro a:hover {
    color: white;
    text-decoration: underline; }
  .registro .botons {
    width: 100%;
    background: #e7f300;
    border: none;
    padding: 10px;
    color: black;
    margin: 50px 0 0;
    font-size: 16px; }
  .registro .inputUno {
    width: 100%;
    background: #1d2528;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px grey solid;
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    color: white; }

@media (max-width: 900px) {
  body {
    display: grid;
    grid-template-areas: "header header header" "main main main" "main main main" "main main main" "main main main" "main main main" "footer footer footer";
    position: relative;
    width: 100vw;
    height: 100%; }
  header {
    height: 100%; }
  nav ul {
    margin-top: 50px;
    font-size: 20px;
    padding-right: 20px; }
  ul a:hover {
    font-size: 21px; }
  main .marcas {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 15vw);
    grid-template-rows: repeat(2, 15vw);
    justify-items: center;
    align-items: center;
    gap: 20px; }
    main .marcas div {
      width: 100%;
      height: 100%;
      transition: height 0.3s, width 0.3s; }
    main .marcas div:hover {
      height: 120%;
      width: 120%; }
  .navmain {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 25vw 25vw;
    justify-content: center;
    margin-top: 20%;
    gap: 10px; }
  .item img {
    width: 99%;
    height: 99%;
    border: 1px black solid; }
  .redes {
    padding-top: 20vh; }
  footer {
    height: 330px;
    width: 100%; }
    footer .capa {
      height: 330px; }
    footer .footer {
      height: 240px;
      width: 100%; }
      footer .footer div img {
        margin-top: 10vh; }
    footer .final p {
      height: 40px;
      width: 100%; } }

@media (max-width: 630px) {
  header {
    height: 100%; }
    header img {
      margin-left: 80%;
      height: 100px; }
    header .wpp {
      width: 70px;
      height: 70px; }
    header nav ul {
      margin-top: 14px;
      font-size: 16px;
      padding-right: 10px; }
    header ul a:hover {
      font-size: 17px; }
  main .destacados {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 30vw 30vw;
    justify-content: space-evenly;
    row-gap: 15%;
    height: 500px; }
  main .redes {
    margin-top: 15vw; }
    main .redes p {
      font-size: 25px; }
  main footer {
    height: 330px;
    width: 100%; }
    main footer .capa {
      height: 330px; }
    main footer .final p {
      font-size: 15px; } }

@media (max-width: 557px) {
  body header img {
    margin-left: 70%;
    width: 100px; }
  body header .marca a {
    font-size: 1px;
    color: white; }
  body header nav ul {
    margin-top: 20px;
    font-size: 13px;
    padding-right: 20px; }
  body header ul a:hover {
    font-size: 14px; }
  body main .marcas {
    display: grid;
    width: 100%;
    grid-template-columns: 17vw 17vw 17vw 17vw;
    grid-template-rows: 17vw 17vw 17vw;
    justify-content: center;
    gap: 12px; }
  body main .diferente {
    grid-column-start: 2; }
  body main .marcas img {
    width: 100%;
    height: 100%; }
  body main .pie-de-pag {
    margin-top: 10%; }
  body main .redes p {
    margin-top: 12vw; }
  body main .textomain p {
    font-size: 15px;
    margin-top: 3%; }
  body main .uno p {
    margin-top: 15%; }
  body main div p {
    font-size: 15px;
    text-align: center; }
  body main .destacados {
    width: 100%;
    height: 400px; }
  body main .navmain {
    margin-top: 20%; }
  body main .redes p {
    margin-top: 0px;
    font-size: 23px; }
  footer {
    height: 330px;
    width: 100%; }
    footer .capa {
      height: 330px; }
    footer .footer div img {
      width: 100%;
      height: 100%; }
    footer .footer .twitch img {
      width: 50%;
      height: 50%; }
    footer .footer .tw img {
      width: 100%;
      height: 100%; }
    footer .final p {
      font-size: 15px; } }

@media (max-width: 492px) {
  body header img {
    margin-left: 60%;
    width: 100px; }
  body header nav ul {
    margin-top: 15px;
    font-size: 12px;
    padding-right: 20px; }
  body header ul a:hover {
    font-size: 14px; }
  body main .marcas {
    gap: 1px;
    width: 100vw; }
    body main .marcas .marca {
      width: 80%;
      height: 80%; }
  body main .navmain {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 35vw 35vw 35vw;
    margin-top: 35%; }
  body main .destacados {
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vw 40vw; }
  body main .marcas {
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 30vw 30vw 30vw; }
  body main figure figcaption {
    font-size: 12px; }
  body main .redes {
    margin-top: 2vw;
    font-size: 20px; }
    body main .redes p {
      font-size: 20px; }
  body main .tres {
    margin-top: 25%; }
  body main .registro {
    width: 300px; }
    body main .registro p {
      font-size: 12px; }
  body footer {
    height: 200px; }
    body footer .footer {
      height: 180px; }
    body footer .capa {
      height: 200px; }
    body footer .final p {
      margin-top: 0px;
      font-size: 13px; } }

@media (max-width: 365px) {
  nav {
    visibility: visible; }
  .tres {
    margin-top: 0%; }
  main .textomain p {
    font-size: 17px; }
  .navmain {
    margin-top: 25%; }
  header img {
    margin-left: 0%; }
  .redes {
    margin-top: 90px; }
  main .pie-de-pag figure {
    margin-bottom: 10%; }
  footer {
    width: 100%;
    height: 90%; }
    footer .footer {
      height: 150%;
      width: 100%; }
      footer .footer div img {
        width: 100%;
        height: 100%; }
  .wpp {
    width: 60px;
    height: 60px; }
  .registro {
    width: 250px; } }
