.mainarticulos {
  width: 100vw;
  height: 100%;
  display: grid;
  position: relative;
  grid-template-areas:
    "titulo"
    "imagen"
    "descripcion";
  h1 {
    grid-area: "titulo";
    padding-top: 1%;
  }

  .imgpri {
    grid-area: "imagen";
    display: block;
    width: 50vw;
    height: 50vw;
    margin: auto;
    box-shadow: $sombra;
    border: 1px black solid;

    img {
      width: 100%;
      height: 100%;
    }
  }
  h3 {
    grid-area: "descripcion";
    text-align: center;
    margin-top: 50%;
  }
  .estilo {
    padding-left: 1%;
    padding-right: 1%;  
  
    li{
    font-family: $fu-sec;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    }
    
  }
}
