.redes p{
    width: 100vw;
    text-align: center;
    font-size: 30px;
    font-family: $fu-pri;
    font-weight: bold;
    color: black;
    margin-top: 10%;
    margin-bottom: 0%;
    padding-bottom: 0px;
    padding-top: 10vw;
}

footer {
    height: 150%;
    width: 100%;
    padding-top: 0%;
    grid-area: footer;
    font-family: $fu-pri;
    font-weight: bold;
    display: grid;
    grid-template-columns: 22vw 22vw 22vw 22vw;
    grid-template-rows: 22vw;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: $col-fondo;
    margin-bottom: 0px;
  
    div img{
        width: 100%;
        height: 100%;
        filter: contrast(82%);
        justify-items: center;
        align-items: center;
    }
                /* CAPA DE TRANSPARENCIA PARA FOOTER (GIFS CON FONDOS BLANCOS) */
        /* CORRECCION TAMAÑO TWITCH */
    .twitch img{
        width: 50%;
        height: 50%;
    }
    .final p {
        width: 100vw;
        color: black;
        margin-bottom: 0px;
        text-align: center;
        justify-content:center;
    }
}
footer .capa {
    height: 90%;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.09  );
}