header img{
    margin-top: 10px;
  }
  .wpp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    width: 80px;
    height: 80px;
  }
  header {
    height: 100%;
    width: 100%;
    background-color: black;
    grid-area: header;
  
    ul a {
        font-weight: bolder;
        text-decoration: none;
        color: white;
        padding-left: 15px;
        font-family: $fu-pri;
        transition: height 0.4s, width 0.3s;
    }
    ul a:hover {
        border-bottom: 3px black solid;
        height: -20px;
        font-size: 21px;
    }
  }