.navmain {
  display: grid;
  grid-template-columns: 16vw 16vw 16vw 16vw 16vw 16vw;
  grid-template-rows: 20vw;
  justify-content: center;
  margin-top: 18%;
  gap: 5px;

  .item {
    margin-bottom: 0px;
  }

  .item img {
    width: 100%;
    height: 100%;
    border: $borde2;
    justify-items: center;
    align-items: center;
  }
}