@media(max-width:365px) {
    nav{
      visibility:visible;
    }
    .tres{
      margin-top: 0%;
    }
    .navmain{
      margin-top: 25%;
    }
    header img{
      margin-left: 0%;
    }
    .redes{
      margin-top: 130px;
    }
    footer{
      width: 100vw;
      padding-right: 20%;
      height: 100px;
    }
    .wpp{
      width: 60px;
      height: 60px;
    }
    .registro {
      width: 250px;
    }
    
  }