@media(max-width:630px) {
    header{
      height: 100%;

      img{
      margin-left: 80%;
      height: 100px;
      }
      .wpp{
        width: 70px;
        height: 70px;
      }
      nav ul {
        margin-top: 14px;
        font-size: 16px;
        padding-right: 10px;
      }
      ul a:hover {
        font-size: 17px;
      }
    }
    main{
      .destacados {
        display: grid;
        grid-template-columns: 30vw 30vw;
        grid-template-rows: 30vw 30vw;
        justify-content: space-evenly;
        row-gap: 15%;
        height: 500px;
      }
      .redes {
        margin-top: 15vw;

        p{
          font-size: 25px;
        }
      }
    footer{
      height: 330px;
      width: 100%;

      .capa{
        height: 330px;
      }
      .final p{
        font-size: 15px;
      }
    }
  }
}