@media(max-width:492px) {
    header img{
      margin-left: 70%;
      width: 100px;
    }
    nav ul {
      margin-top: 15px;
      font-size: 12px;
      padding-right: 20px;
    }
    ul a:hover {
      font-size: 14px;
    }
    .marcas{
      gap: 1px;
    }
    .navmain {
      display: grid;
      grid-template-columns: 40vw 40vw;
      grid-template-rows: 35vw 35vw 35vw;
      margin-top: 35%;
    }
    .destacados {
      display: grid;
      grid-template-columns: 40vw 40vw;
      grid-template-rows: 40vw 40vw;
    }
    .marcas{
      grid-template-columns: 25vw 25vw 25vw 25vw;
      grid-template-rows: 30vw 30vw 30vw;
    }

    figure figcaption{
      font-size: 12px;
    }
    .redes {
      margin-top: 2vw;
      font-size: 20px;
      }
    .tres{
      margin-top: 25%;
    }
    .registro {
      width: 300px;

      p {
      font-size: 12px;
      }
    }
  }