$fu-pri: 'Encode Sans', sans-serif;
$fu-sec: 'Mukta', sans-serif;
$col-fondo: white;
$col-sec: black;
$borde1: 1px grey solid;
$sombra: 5px 3px grey;
$borde2: 1px black solid;
$borde3: 2px solid rgb(239, 239, 23)